<!-- BANNER -->
<section class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Plate-Alerte</h1>
        <p class="lead my-3">Nous vous écoutons pour être plus proches de vous..</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
      </div>
    </div>
  </section>
  
  <!-- A-PROPOS -->
  <main class="container clearfix">
    <img src="../assets/img/logo.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="logo">
    <article class="mt-5">
      <h1>À propos</h1>
      <h2 class="mt-3">Plate-Alerte</h2>
      <p>
        Plate-Alerte est une plateforme permettant d'envoyer une alerte à l'un des différents services d'urgence de l'Etat ivoirienne.
        Elle est mise à la disposition de la population et aux services d'urgences de l'Etat ivoirienne.
      </p>
    </article>
    
    <section class="row text-center">
        <article class="col-lg-4">
          <img src="../assets/img/img-samu-ci.jfif" alt="image samu" class="" width="140" height="140">
          <h2 class="fw-normal">SAMU</h2>
        </article><!-- /.col-lg-4 -->
        <article class="col-lg-4">
          <img src="../assets/img/img-police-ci.jpg" alt="image samu" class="" width="140" height="140"> 
          <h2 class="fw-normal">POLICE</h2>
        </article><!-- /.col-lg-4 -->
        <article class="col-lg-4">
          <img src="../assets/img/img-gspm-ci.jfif" alt="image samu" class="" width="140" height="140">
          <h2 class="fw-normal">GSPM</h2>
        </article><!-- /.col-lg-4 -->
      <section><!-- /.row -->
  
      <p>Si vous vous trouvez dans une zone concernée par un danger imminent, vous pouvez envoyer un message accompagné de vidéo ou d'image. <strong>24/24h et 7/7j</strong></p>
  