<!-- CAROUSEL -->
<main class="container">
    
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/img/img-intervention-sp.jpg" alt="" width="100%" height="100%">
            <div class="container">
              <div class="carousel-caption text-start">
                <h1></h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/img/img-intervention-samu.jpg" alt="" width="100%" height="100%">
            <div class="container">
              <div class="carousel-caption">
                <h1></h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/img/vehicule-urgence.jpg" alt="vehicule de service d'urgence" width="100%" height="100%">
            <div class="container">
              <div class="carousel-caption text-end">
                <h1></h1>
          
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    
    
        <!-- Trois colonnes de texte sous le carrousel -->
        <section class="row text-center">
        <article class="col-lg-4">
            <img src="../assets/img/img-samu-ci.jfif" alt="image samu" class="" width="140" height="140">
            <h2 class="fw-normal">SAMU</h2>
            <p>SERVICE D'AIDE MEDICALE URGENTE</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </article><!-- /.col-lg-4 -->
          <article class="col-lg-4">
            <img src="../assets/img/img-police-ci.jpg" alt="image police" class="" width="140" height="140"> 
            <h2 class="fw-normal">DGPN</h2>
            <p>DIRECTION GENERALE DE LA POLICE NATIONALE</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </article><!-- /.col-lg-4 -->
          <article class="col-lg-4">
            <img src="../assets/img/img-gspm-ci.jfif" alt="image gspm" class="" width="140" height="140">
            <h2 class="fw-normal">GSPM</h2>
            <p>GROUPEMENT DES SAPEURS POMPIERS MILITAIRES</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </article><!-- /.col-lg-4 -->
        <section><!-- /.row -->
    
    