<main class="container">
    <h1>Espace Admin</h1>
    <section class="row text-center mt-5">
        <article class="col-lg-4">
          <img src="../assets/img/img-samu-ci.jfif"  alt="image samu" class="" width="140" height="140">
          <h2 class="fw-normal">SAMU</h2>
          <p>SERVICE D'AIDE MEDICALE URGENTE</p>
          <p><a class="btn btn-secondary" [routerLink]="['samu']">Cliquer ici</a></p>
        </article><!-- /.col-lg-4 -->
        <article class="col-lg-4">
          <img src="../assets/img/img-police-ci.jpg" alt="image police" class="" width="140" height="140"> 
          <h2 class="fw-normal">DGPN</h2>
          <p>DIRECTION GENERALE DE LA POLICE NATIONALE</p>
          <p><a class="btn btn-secondary" [routerLink]="['dgpn']">Cliquer ici</a></p>
        </article><!-- /.col-lg-4 -->
        <article class="col-lg-4">
          <img src="../assets/img/img-gspm-ci.jfif" alt="image gspm" class="" width="140" height="140">
          <h2 class="fw-normal">GSPM</h2>
          <p>GROUPEMENT DES SAPEURS POMPIERS MILITAIRES</p>
          <p><a class="btn btn-secondary" [routerLink]="['gspm']">Cliquer ici</a></p>
        </article><!-- /.col-lg-4 -->
      <section><!-- /.row -->
