<div class="container menavbar sticky-top">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a [routerLink]="['accueil']" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="../assets/img/img-alerte.jfif" alt="image alerte"  width="40" height="32">
        &nbsp;<span class="fs-4">Plate-Alerte</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a [routerLink]="['/']" class="nav-link">Retour à Accueil</a></li>
        
      </ul>
    </header>
  </div>
